<header class="py-4 shadow-sm bg-pink-100 lg:bg-white ">
  <div class="container flex items-center justify-between ">
       <!-- logo  -->
       <a href="#" class="block w-32">
            <img src="../assets/images/egu.png" alt="logo" class="w-full" /> 
       </a>
       <!-- logo end  -->
       <!-- search   -->
       <div class="w-full xl:max-w-xl lg:max-w-lg lg:flex relative hidden ">
            <span class="absolute left-4 top-3 text-lg text-gray-400 ">
                 <i class="fas fa-search"></i>
            </span>
            <input type="text" class="pl-12 w-full border border-r-0 border-primary  py-3 px-3 rounded-l-md focus:ring-primary " placeholder="Search" />
            <button type="submit" class="bg-primary border border-primary text-white px-8 font-medium rounded-r-md hover:bg-transparent hover:text-primary transition  " >
                 Search
            </button> 
       </div> 

            <!-- search End  -->

       <!-- NavIcons -->

       <div class="space-x-4 flex items-center ">
            <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative " routerLink="/wishlist">
                 <span class=" absolute -right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs "> 5 </span>
                 <div class="text-2xl">
                      <i class="far fa-heart "></i> 
                 </div>
                 <div class="text-sm  font-semibold leading-3 ">Wish List</div>
            </a>


            <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative " routerLink="/cart">
                 <span class=" absolute -right-2 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs "> 5 </span>
                 <div class="text-2xl">
                      <i class="fas fa-shopping-bag "></i> 
                 </div>
                 <div class="text-sm font-semibold leading-3 ">Cart</div>
            </a>


            <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative " routerLink="/account" >
                 
                 <div class="text-2xl">
                      <i class="fas fa-user "></i> 
                 </div>
                 <div class="text-sm font-semibold leading-3 ">Account</div>
            </a> 

       </div> 
        <!-- NavIcons End  -->


       </div>
       
  </header> 
  <!-- ---- End Header ----- -->


   <!-- ---- Start NavBar ----- -->
  <nav class="bg-gray-800 hidden lg:block ">
       <div class="container">
            <div class="flex">
                <!-- ---- All Category ----- -->
                <div class="px-8 py-4 bg-primary flex items-center cursor-pointer group relative ">
                     <span class="text-white ">
                      <i class="fas fa-bars"></i>
                     </span>
                 <span class="capitalize ml-2 text-white font-semibold">All categories</span>


  <div class="absolute left-0 top-full w-full bg-white shadow-md py-3 invisible opacity-0 group-hover:opacity-100 group-hover:visible transition duration-300 z-50 divide-y divide-gray-300 divide-dashed  ">
            <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
            <img src="../assets/images/icons/bed.svg" class="w-5 h-5 object-contain " />
            <span class="ml-6 text-gray-700 text-sm font-semibold "> BedRoom</span>
            </a>
            <!-- ---- single category End ----- -->

            <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                 <img src="../assets/images/icons/sofa.svg" class="w-5 h-5 object-contain " />
                 <span class="ml-6 text-gray-700 text-sm font-semibold "> Sofa</span>
                 </a>
                 <!-- ---- single category End ----- -->


                 <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                 <img src="../assets/images/icons/office.svg" class="w-5 h-5 object-contain " />
                 <span class="ml-6 text-gray-700 text-sm font-semibold "> Office</span>
                 </a>
                 <!-- ---- single category End ----- -->


                 <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                 <img src="../assets/images/icons/outdoor-cafe.svg" class="w-5 h-5 object-contain " />
                 <span class="ml-6 text-gray-700 text-sm font-semibold "> OutDoor</span>
                 </a>
                 <!-- ---- single category End ----- -->


                 <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                 <img src="../assets/images/icons/terrace.svg" class="w-5 h-5 object-contain " />
                 <span class="ml-6 text-gray-700 text-sm font-semibold "> Mattress</span>
                 </a>
                 <!-- ---- single category End ----- -->


                 <!-- ---- Start single category ----- -->
            <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                 <img src="../assets/images/icons/sofa.svg" class="w-5 h-5 object-contain " />
                 <span class="ml-6 text-gray-700 text-sm font-semibold "> Sofa</span>
                 </a>
                 <!-- ---- single category End ----- -->

  </div>

                </div>

                 <!-- ---- All Category End ----- -->

                 <!-- ---- Nav Menu ----- -->

  <div class="flex items-center justify-between flex-grow pl-12 ">
       <div class="flex items-center space-x-6 text-base capitalize ">
            <a href="index.html" routerLink="/" class="text-gray-200 hover:text-white transition font-semibold " > Home </a>
            <a href="shop.html" class="text-gray-200 hover:text-white transition font-semibold " routerLink="/shop" > Shop </a>
            <a href="index.html" class="text-gray-200 hover:text-white transition font-semibold " > About Us </a>
            <a href="index.html" class="text-gray-200 hover:text-white transition font-semibold " > Contact Us </a> 
       </div>
<div>
  <a href="login.html" class="ml-auto text-gray-200 hover:text-white transition font-semibold " routerLink="/login"> Login </a>

  <a href="login.html" class="ml-auto text-gray-200 hover:text-white transition font-semibold " routerLink="/register"> /Register </a>
</div>
       
  </div>

                 <!-- ---- Nav Menu End ----- -->

            </div>

       </div>

  </nav> 
    <router-outlet></router-outlet>
    <Footer class="bg-gray-800 pt-16 pb-12 border-t border-gray-100 " >
      <div class="container">
           <div class="xl:grid xl:grid-cols-3 xl:gap-8 ">
                <div class="space-y-8 xl:col-span-1 ">
                     <img style="height: 89px;" src="../assets/images/egu.png" alt="Egu " /> 
                     <p class="text-gray-300 text-base font-roboto " >
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing.
                     </p>
                     <div class="flex space-x-5">
                          <a href="#" class="text-white hover:text-primary" >
                              <i class="fab fa-facebook-f"></i>
                          </a>

                          <a href="#" class="text-white hover:text-primary" >
                              <i class="fab fa-twitter"></i>
                          </a>

                          <a href="#" class="text-white hover:text-primary" >
                              <i class="fab fa-instagram"></i>
                          </a>

                          <a href="#" class="text-white hover:text-primary" >
                              <i class="fab fa-linkedin-in"></i>
                          </a>

                     </div>
                </div>

    <!-- ---- Footer link   ----- -->

<div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
     <div class="md:grid md:grid-cols-2 md:gap-8 ">
          <div>
               <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Solutions </h3>
               <div class="mt-4 space-y-4 ">
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Marketing
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Analytics
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Commerce
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Insights
                    </a> 
               </div>
          </div>



          <div class="mt-12 md:mt-0">
               <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Support </h3>
               <div class="mt-4 space-y-4 ">
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Pricing 
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Documentation
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Guides
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         API Status
                    </a> 
               </div>
          </div> 


     </div>


     <div class="md:grid md:grid-cols-2 md:gap-8 ">
          <div>
               <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Company </h3>
               <div class="mt-4 space-y-4 ">
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         About
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Blog
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Jobs
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Service
                    </a> 
               </div>
          </div>



          <div class="mt-12 md:mt-0">
               <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Legal </h3>
               <div class="mt-4 space-y-4 ">
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Claim 
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Privacy
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                         Policy
                    </a>
                    <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                        Terms
                    </a> 
               </div>
          </div> 


     </div>   
</div> 
    <!-- ----End Footer link   ----- --> 

           </div>

      </div>

 </Footer> 
  <!-- ---- End Footer   ----- -->

 <!-- ---- Copyright  ----- -->
 <div class="bg-white py-4 ">
     <div class="container flex items-center justify-between ">
          <p class="text-gray-500 font-semibold " >© Easy Learning 2022</p>
     

          <div>
               <img src="../assets/images/methods.png" class="h-5" />
          </div>
     
     </div>

 </div>

