<div class="fixed left-0 top-0 w-full h-full z-50 bg-black bg-opacity-30 shadow hidden " id="mobileMenu">
    <div class="absolute left-0 top-0 w-72 h-full z-50 bg-white shadow">
         <div id="closeMenu" class="text-gray-400 hover:text-primary text-lg absolute right-3 top-3 cursor-pointer " >
              <i class="fas fa-times"></i> 
         </div>
         <h3 class="text-xl font-semibold text-white mb-2 font-roboto pl-4 pt-4 pb-4 bg-primary ">Menu</h3>
         <div>
              <a href="index.html" class="block px-4 py-4 font-medium transition hover:bg-gray-200 " >
                Home
              </a>
              <a href="index.html" class="block px-4 py-4 font-medium transition hover:bg-gray-200 " >
                Shop
              </a>

              <a href="index.html" class="block px-4 py-4 font-medium transition hover:bg-gray-200 " >
                About Us
              </a>
              <a href="index.html" class="block px-4 py-4 font-medium transition hover:bg-gray-200 " >
                Contact Us
              </a>
         </div>

    </div>

</div>

<!-- ---- End Mobile Side Bar ----- -->


<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between " >
 <div class="flex gap-3 items-center ">
      <a href="index.html" class="text-primary text-base">
          <i class="fas fa-home"></i>
      </a>
      <span class="text-sm text-gray-500 ">
          <i class="fas fa-chevron-right" ></i>
      </span>
      <p class="text-gray-500 font-medium uppercase">Order Complete  </p>
 </div>

</div>
<!-- ---- End BreadCrum --->

<!-- ---- Order Complete --->
<div class="max-w-3xl mx-auto px-4 pt-16 pb-24 text-center">
   <div class="mb-8">
 <img src="../assets/images/complete.png" class="w-16 inline-block" />            
   </div>
   <h2 class="text-gray-800 font-medium text-3xl mb-3">YOUR ORDER IS COMPLETED!</h2>
   <p class="text-gray-600">Thank you for your order! Your order is being processed and will be complete with 3-6 hours. You will receive and email confirmation when you order is completed </p>

   <div class="mt-10">
        <a href="index.html" class="bg-primary border border-primary text-white px-6 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition text-center " >Continue Shopping 
        </a>

   </div>

</div>


<!-- ---- End Order Complete --->


