  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh Sách Sản Phẩm</h3>
                <app-admin-product-modal></app-admin-product-modal>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th>Description</th>
                    <th>Discount</th>
                    <th>Discount Price</th>
                    <th>Status</th>
                    <th>Category Id</th>
                    <th>Brand Id</th>
                    <th>Origin Id</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Duy</td>
                      <td>NM555</td>
                      <td>2300</td>
                      <td> 15/1/2013</td>
                      
                      <td>15/1/2013</td>
                      <td>No Description</td>
                      <td>0</td>
                      <td>0</td>
  
                      <td>No Active</td>
                      <td>001</td>
                      <td>001</td>
                      <td>001</td>
                    </tr>
                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>
                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>                  <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>
                                    <tr>
                    <td>Duy</td>
                    <td>NM555</td>
                    <td>2300</td>
                    <td> 15/1/2013</td>
                    
                    <td>15/1/2013</td>
                    <td>No Description</td>
                    <td>0</td>
                    <td>0</td>

                    <td>No Active</td>
                    <td>001</td>
                    <td>001</td>
                    <td>001</td>
                  </tr>
                  <tfoot>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Create Date</th>

                    <th>Update Date</th>
                    <th>Description</th>
                    <th>Discount</th>
                    <th>Discount Price</th>

                    <th>Status</th>
                    <th>Category Id</th>
                    <th>Brand Id</th>
                    <th>Origin Id</th>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->